<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>小爱助手</title>
<link href="/public/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/public/js/html5.js"></script>
<script type="text/javascript" src="/public/./js/jquery.js"></script>
<script type="text/javascript" src="/public/./js/app.js"></script>
</head>
<body>
<header class="warp">
	<div class="logo">
		<h1>小爱助手</h1><span>每天都在进步</span>
	</div>
	<nav>
		<h2><a href="#">首页</a></h2>
		<h2 class="checked"><a href="#">工作台</a></h2>
		<h2><a href="#">名单池</a></h2>
		<h2><a href="#">我的用户</a></h2>
		<h2><a href="#">管理</a></h2>
	</nav>
	
</header>    
<article class="box7">
	<section class="warp">
		<div class="div9">
			<div class="div1">
				<div class="div2 "><span><input class="username" type="text"  placeholder="用户名"/></span></div>
				<div class="div3 "><input class="password" type="password"  placeholder="密码" /></div>
				<div class="div4"><input id="input1" type="checkbox" /><label for="input1">记住密码</label><a class="pwdClick" href="javascript:void(0)">忘记密码</a></div>
				<div class="div5 loginBox"><a href="#">登  录</a></div>
			</div>
			<div class="div6">
				<h2 >修改密码</h2>
				<span class="close"></span>
				<div class="div2"><span><input type="text"  placeholder="账号"/></span></div>
				<div class="div7"><input type="password"  placeholder="原密码" /></div>
				<div class="div7"><input type="password"  placeholder="新密码" /></div>
				<div class="div3"><input type="password"  placeholder="再次输入新密码" /></div>
				<div class="oh">
					<div class="div8"><a href="#">修&nbsp;&nbsp;改</a></div>
					<div class="div8"><a href="#">确&nbsp;&nbsp;认</a></div>
				</div>
			</div>
		</div>
	</section>
</article>
<footer>
	<a href="#">爱炒股官网 </a>|
	<a href="#">爱炒股商城 </a>|
	<a href="#">爱炒股课堂 </a>|
	<a href="#">PC软件下载 </a>|
	<a href="#">手机版下载 </a>|
	<a href="#">风险提示 </a>
	<p>版权所有：上海益盟软件技术股份有限公司 沪ICP备06000340</p>
</footer>
</body>
</html>